##############################################
# Prerequisites
##############################################
*.d

##############################################
# Compiled Object files
##############################################
*.slo
*.lo
*.o
*.obj

##############################################
# Precompiled Headers
##############################################
*.gch
*.pch

##############################################
# Linker files
##############################################
*.ilk
*.exp
*.lib
*.map

##############################################
# Debugger and Program Database Files
##############################################
*.pdb
*.idb

##############################################
# Compiled Dynamic/Static Libraries
##############################################
*.dll
*.so
*.dylib
*.a
*.la
*.lai

##############################################
# Executables
##############################################
*.exe
*.out
*.app

##############################################
# Debug Information and Intermediate Files
##############################################
*.dwo
*.ipdb
*.iobj
*.res
*.rsp
*.manifest
*.tlog
*.lastbuildstate
*.unsuccessfulbuild

##############################################
# Archives and Packages
##############################################
*.zip
*.rar
*.7z
*.tar
*.gz
*.sfx

##############################################
# Visual Studio Specific
##############################################
[Bb]in/
[Oo]bj/
[Dd]ebug*/
[Rr]elease*/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
ipch/
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.opendb
*.user
*.userosscache
*.suo
*.log
*.opendb
*.tlog
*.lastbuildstate

# Visual Studio Intermediate Build Folders
*.idb
*.ipch
*.obj
*.pch
*.pdb
*.exp
*.ilk
*.iobj
*.ipdb
*.bsc

##############################################
# Profiling / Testing / Coverage
##############################################
*.pgc
*.pgd
*.gcno
*.gcda
*.gcov

##############################################
# Intel Compiler / Other Toolchains
##############################################
*.pchi
*.pchx
*.pchi
*.tli
*.tlh

##############################################
# CMake (if using CMake with Visual Studio)
##############################################
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
*.cmake

##############################################
# Logs / Crash Dumps
##############################################
*.dmp
*.log

##############################################
# IDE and Editor Specific
##############################################
.vscode/
.vs/
*.VC.VC.opendb
*.VC.db

##############################################
# Miscellaneous
##############################################
*.db
*.aps
*.ncb
*.opt
*.plg
*.tmp
*.bak
*.old
*.orig
*.rej
*.zip
*.rar
*.sfx
*.iso
*.exe

##############################################
# Optional: Ignore CMake build directory (if you use out-of-source builds)
##############################################
build/